---
import Layout from "../layouts/Layout.astro";
import SkillCard from "../components/SkillCard.astro";
import TimelineArticle from "../components/TimelineArticle.astro";
import CoursesCard from "../components/CoursesCard.astro";
import Pill from "../components/Pill.astro";
import ContactList from "../components/ContactList/ContactList.astro";
import "@fontsource/inter";
import NavBar from "../components/NavBar/NavBar.astro";

const skills = [
  {
    title: "Core",
    values: ["HTML", "CSS", "Java Script", "Type Script"],
  },
  {
    title: "Frameworks",
    values: ["React", "Next.js", "Astro", "Remix"],
  },
  {
    title: "Styling",
    values: ["Css modules", "Sass / Scss", "css-in-js", "Tailwind"],
  },
  {
    title: "UI libraries",
    values: ["Headless UI", "Radix", "Material UI", "Bootstrap"],
  },
  {
    title: "State libraries",
    values: [
      "React Query / Apollo",
      "Redux / Redux Toolkit",
      "Zustand",
      "Jotai",
    ],
  },
  {
    title: "Databases",
    values: ["Planetscale", "Postgress", "Mysql / SQLight", "Mongodb"],
  },
  {
    title: "ORM / ODM",
    values: ["Prisma", "Type ORM", "Mongoose"],
  },
  {
    title: "Mobile",
    values: [
      "React Native",
      "Expo",
      "React Navigation",
      "React Native Reanimated",
    ],
  },
  {
    title: "Other",
    values: [
      "t3 stack",
      "Vercel / Netlify / Heroku",
      "AWS / Digital Ocean",
      "Strapi / Story Block",
    ],
  },
];

const workExperience = [
  {
    title: "Frontend developer",
    subTitle: "Yaroslav Mudryi National Law University",
    date: "2018 - 2019",
    description:
      "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ",
  },
  {
    title: "JS Team Lead",
    subTitle: "Headworks - mobile and web app development company",
    date: "2019 - 2022",
    description:
      "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.",
  },
  {
    title: "Full stack developer | CEO",
    subTitle: "Aquinas - application development",
    date: "2022 - now",
    description:
      "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.",
  },
];

const courses = [
  {
    title: "React - the complete guide",
    author: "Maximilian Schwarzmuller",
  },
  {
    title: "NodeJs the complete guide",
    author: "Maximilian Schwarzmuller",
  },
  {
    title: "React Native the practical guide",
    author: "Maximilian Schwarzmuller",
  },
  {
    title: "Complete react developer",
    author: "Andrei Neagoie",
  },
  {
    title: "Epic React",
    author: "Kent C. Dodds",
  },
  {
    title: "Just Java Script",
    author: "Dan Abramov",
  },
];
---

<Layout title="Kyrylo Moghoshiia CV">
  <header class="flex justify-between max-w-4xl mx-auto my-20">
    <div class="max-w-lg">
      <h1 class="font-black text-4xl mb-2 text-slate-800">Kyrylo Morhoshiia</h1>
      <ContactList className="mb-4" />
      <p class="text-slate-800 leading-relaxed">
        Software engenieer mainly focused on React ecosystem. I like to build
        typesafe fullstack applications using cutting edge tech. Also I’m
        founder of small outsourcing agency.
      </p>
    </div>
    <img
      class="rounded-full w-[150px] h-[150px]"
      width="150"
      height="150"
      src="/assets/avatar.jpg"
      alt="Kryrlo Morhoshiia avatar"
    />
  </header>
  <main>
    <NavBar />
    <section class="max-w-4xl mx-auto mb-32">
      <Pill text="Skills" customClassname="mb-2" />
      <h1 class="font-bold text-4xl max-w-lg mb-10">
        List of tech and libraries used in recent projects
      </h1>
      <div class="grid grid-cols-3 gap-6">
        {
          skills.map(({ title, values }) => (
            <SkillCard title={title} values={values} />
          ))
        }
      </div>
    </section>
    <section class="border-l border-slate-200 max-w-4xl mx-auto mb-32">
      {
        workExperience.map(({ title, subTitle, date, description }) => (
          <TimelineArticle
            title={title}
            subTitle={subTitle}
            description={description}
            date={date}
          />
        ))
      }
    </section>
    <section class="max-w-4xl mx-auto mb-10">
      <Pill text="Courses" customClassname="mb-2" />

      <h1 class="font-bold text-4xl max-w-lg mb-10 font-sans">
        List of tech and libraries used in recent projects
      </h1>
      <div class="grid gap-6 grid-cols-3">
        {
          courses.map(({ title, author }) => (
            <CoursesCard title={title} author={author} />
          ))
        }
      </div>
    </section>
  </main>
</Layout>
