---
import Pill from "../Pill.astro";
import TimelineArticle from "./TimelineArticle.astro";
import Section from "../Section.astro";
import Container from "../Container.astro";

const education = [
  {
    title: "Master of law",
    subTitle: "Yaroslav Mudryi National Law University",
    date: "2012 - 2018",
    description:
      "Despite my university diploma I am crazy about coding and strive for professional development. The soft skills that I learned here help me a lot to get well with teams and colleges. I did a lot of freelance work while studying here, so it helped me to boost my career as a developer.",
  },
];
const workExperience = [
  {
    title: "Cofounder / Full Stack Developer",
    subTitle: "Vetro Glass",
    date: "2018 - 2019",
    description:
      "After I finished the university we decided to build a business with my friend. I was responsible for building the corporate website, landing pages, and product calculators. When I worked here I understand that want to be a developer.",
  },
  {
    title: "Full Stack Developer / Team Lead",
    subTitle: "Headworks - mobile and web app development company",
    date: "2019 - 2022",
    description:
      "As it is an outsourcing agency, I had the opportunity to work on many projects and communicate directly with customers. And in the end, I was promoted to team lead. I was responsible for interviewing, performance reviews, and making employee development plans.",
  },
  {
    title: "Full Stack Developer",
    subTitle: "freelancer - upwork.com",
    date: "2022 - now",
    description:
      "I wanted to try to work with early startups. So nowadays I'm working as a freelancer. I completed several projects and have a 5-star rating on the platform. Freelancing gives me a lot of expertise and let me grow my soft skills as well.",
    // description: "Nowadays I'm working as a freelancer, and trying to build a team of highly professional React developers. I believe that small teams can move faster and Type Script and React ecosystem covers almost everything any product needs right now, such as frontend, backend, or mobile.",
  },
];
---

<Section>
  <Container className="relative sm:pl-8">
    <div
      class="max-sm:hidden h-full w-[1px] bg-slate-200 absolute left-6 top-0"
    >
    </div>
    <Pill text="Education" className="mb-8 sm:mb-10 sm:ml-3" />
    {
      education.map(({ title, subTitle, date, description }) => (
        <TimelineArticle
          title={title}
          subTitle={subTitle}
          description={description}
          date={date}
        />
      ))
    }
    <Pill text="Experience" className="mb-8 sm:mb-10 sm:ml-3" />
    {
      workExperience.map(({ title, subTitle, date, description }) => (
        <TimelineArticle
          title={title}
          subTitle={subTitle}
          description={description}
          date={date}
        />
      ))
    }
  </Container>
</Section>
